<div class="content">
	<div class="jumbotron">
		<div class="caption">
			<h2>料理の楽園</h2>
			<h4>Nobita Team</h4>
			<% if !logged_in? %>
				<%= link_to "Let's enjoy", signup_path, class: "waves-effect waves-light btn" %>
			<% end %>
		</div>
	</div>
	<div class="container present">
		<div class="overview">
		</div>
		<div class="about" id="about-path">
			<div class="row">
				<div class="about-caption col-md-4">
					<h2>Who are we now</h2>
					<p>THE STORY THAT MADE US WHO WE ARE</p>
					<p>Chúng tôi tự hào mang đến bạn niềm vui của một người nội trợ trong việc chuẩn bị những món ăn cho gia đình, từ những món khoái khẩu, quen thuộc cho đến những món ăn đặc trưng đến từ các đất nước xa xôi. Chúng tôi tin rằng việc nấu nướng của bạn sẽ nhanh chóng, dễ dàng và thú vị hơn nhờ sự trợ giúp đắc lực từ lò vi sóng đa năng. Không quá cầu kỳ, chẳng tốn nhiều công sức, hãy cùng gia đình thưởng thức những hương vị tuyệt vời của các món ăn trên thế giới ngay tại gian bếp nhà bạn.</p>
				</div>
				<div class="about-image col-md-8">
					<img src="/assets/about.png">
				</div>
			</div>
		</div>
		<div class="portfolio" id="portfolio-path">
			<div class="overview">
				<div class="title">Food</div>
				<div class="caption">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</div>
			</div>
			<div class="row">
				<div class="item col-md-4">
					<div class="portfolio-pic" id="portfolio-1">
						<div class="portfolio-content">
							<span class="label label-primary">productivity</span>
							<div class="portfolio-title">Morbi mauris diam</div>
						</div>
					</div>
				</div>
				<div class="item col-md-4">
					<div class="portfolio-pic" id="portfolio-2">
						<div class="portfolio-content">
							<span class="label label-info">design</span>
							<div class="portfolio-title">Interdum et malesuada</div>
						</div>
					</div>
				</div>
				<div class="item col-md-4">
					<div class="portfolio-pic" id="portfolio-3">
						<div class="portfolio-content">
							<span class="label label-danger">productivity</span>
							<div class="portfolio-title">Duis laoreet tellus arcu</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="item col-md-6">
					<div class="portfolio-pic" id="portfolio-4">
						<div class="portfolio-content">
							<span class="label label-warning">productivity</span>
							<div class="portfolio-title">Proin aliquet nibh varius</div>
						</div>
					</div>
				</div>
				<div class="item col-md-6">
					<div class="portfolio-pic" id="portfolio-5">
						<div class="portfolio-content">
							<span class="label label-primary">productivity</span>
							<div class="portfolio-title">Our Awesome Project</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="item col-md-4">
					<div class="portfolio-pic" id="portfolio-6">
						<div class="portfolio-content">
							<span class="label label-success">design</span>
							<div class="portfolio-title">Up branch to easily missed</div>
						</div>
					</div>
				</div>
				<div class="item col-md-4">
					<div class="portfolio-pic" id="portfolio-7">
						<div class="portfolio-content">
							<span class="label label-primary">design</span>
							<div class="portfolio-title">Boy favourable day</div>
						</div>
					</div>
				</div>
				<div class="item col-md-4">
					<div class="portfolio-pic" id="portfolio-8">
						<div class="portfolio-content">
							<span class="label label-info">productivity</span>
							<div class="portfolio-title">Bringing unlocked me</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<p class="title">Get in Touch</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="col-md-2">
				<p class="title">Find Us At</p>
				<p><%= fa_icon "map-marker" %> Hanoi, Vietnam</p>
				<p><%= fa_icon "mobile" %> +841686066325</p>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-10">© 2017 Copyright Text</div>
				<div class="col-md-2">Created by Nobita</div>
			</div>
		</div>
	</div>
</footer>
