<h1>ベトナム料理</h1>

<p><%= @user.name %>、こんにちは</p>

<p>
食べ物へようこそ！ 下のリンクをクリックしてアカウントを有効にしてください
</p>

<%= link_to "アクティブ", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
