/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-star-rating/css/star-rating.min.css
 */
@import "font-awesome";
@import "materialize";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
	font-family: 'Montserrat', sans-serif;
}

.setting-s {
    margin-left: 700px;
}

.content-review {
    margin-left: 20px;
}

.modal-body {
    padding: 30px !important;
}

.pre-img {
    height: 150px;
    max-width: 500px;
    border: 1px solid #000;
    margin: 0px 10px 10px 10px;
}

.food-image-detail {
	height: 400px !important;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.media-object {
    float: left;
    padding-top: 0px;
}

.w-70-h-70 {
    width: 70px;
    height: 70px;
}

.media-heading {
    margin-top: 0;
    margin-bottom: 5px;

}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-left: 20px;
}

.media-object {
    display: block;
}

.food-cover {
    height: 150px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.food-name {
	font-size: 24px;
	color : green;
}

.text-none {
    text-decoration: none !important;
}

.text-none:hover {
    opacity: 0.6;
}

.food-name:hover {
	color : blue;
	text-decoration: none;
}

.price {
	font-size: 20px;
	color : red;
	margin-bottom: 20px;
}

.price:hover {
	text-decoration: none;
}

$strongGreen: #3cac94;

*:focus{
	outline: 0;
}

a:focus{
	text-decoration: none;
	color: white;
	outline: 0;
}

.fa-spinner{
	color: #3cac94;
	font-size: 2.8em;
}

.modal{
	box-shadow: none;
	background-color: transparent;
	max-height: 100%;
	width: 100%;
	.modal-content{
		padding: 0;
		.modal-header{
			padding: 12px 20px;
		}
		.modal-body{
			padding: 0;
			.users{
				.user{
					border-bottom: solid 1px #e5e5e5;
					padding: 20px;
					a{
						color: black;
						font-weight: bold;
						margin-left: 15px;
						text-decoration: none;
						&:hover{
							color: black;
						}
					}
					.avatar{
						border-radius: 50%;
						width: 50px;
						height: 50px;
					}
					.follow-form{
						display: inline-block;
						float: right;
						form{
							.follow-btn, .unfollow-btn{
								text-transform: none;
								font-weight: bold;
								padding: 0 25px;
								letter-spacing: 0.5px;
								&:focus{
									outline: 0;
								}
							}
							.follow-btn{
								background-color: #3897f0;
								&:hover{
									color: white;
								}
							}
							.unfollow-btn{
								background-color: white;
								color: #7b7b7b;
								&:hover{
									color: #7b7b7b;
								}
							}
						}
					}
				}
			}
		}
	}
}


#post-modal{
	.modal-dialog{
		font-size: 1.1em;
		width: 950px;
		.modal-content{
			width: 100%;
			display: inline-block;
			.modal-body{
				float: left;
				display: inline-block;
				width: 100%;
				.micropost-img{
					display: inline-block;
					float: left;
					img{
						width: 500px;
						height: 500px;
					}
				}
				.micropost-info{
					padding: 30px 30px;
					float: left;
					width: calc(100% - 500px);
					position: relative;
					.base-info{
						display: inline-block;
						width: 100%;
						.base-left-block{
							display: inline-block;
							float: left;
							width: 230px;
							.text-content{
								width: 100%;
								word-wrap: break-word;
								display: inline-block;
								float: left;
								a{
									text-decoration: none;
									color: black;
									font-weight: bold;
									margin-right: 6px;
									&:hover{
										color: black;
									}
								}
							}
							.number-like{
								float: left;
								display: inline-block;
								margin-top: 2px;
							}
						}
						.base-right-block{
							display: inline-block;
							float: right;
							width: calc(100% - 230px);
							.setting{
								a{
									color: black;
								}
								float: right;
								.dropdown-menu{
									min-width: 60px;
								}
							}
							.time-stamp{
								float: right;
								color: #999999;
								display: inline-block;
								margin-right: 5px;
							}
						}
					}
					hr{
						margin-top: 15px;
						margin-bottom: 15px;
					}
					.comments-list{
						overflow-y: auto;
						position: absolute;
						top: 115px;
						left: 31px;
						height: 350px;
						display: inline-block;
						width: 388px;
						.toggle-comments-list{
							cursor: pointer;
							color: #999999;
							margin-bottom: 5px;
						}
						.comment{
							margin-bottom: 3px;
							display: inline-block;
							width: 100%;
							.user-name{
								display: inline-block;
								margin-right: 5px;
								float: left;
								a{
									text-decoration: none;
									color: black;
									font-weight: bold;
									margin-right: 6px;
									&:hover{
										color: black;
									}
								}
							}
							.comment-content{
								width: 250px;
								word-wrap: break-word;
								float: left;
							}
							.setting{
								float: right;
								.glyphicon{
									font-size: 0.8em;
									color: #c7c7c7;
								}
								a{
									color: black;
								}
								.dropdown-menu{
									left: -150px;
									min-width: 60px;
								}
							}
						}
					}
				}
			}
		}
	}
}

nav{
	background-color: $strongGreen;
	margin-bottom: 5px;
	a.brand-logo{
		font-size: 2em;
		margin-left: 20px;
		font-family: 'Pacifico', cursive;
		text-decoration: none;
		&:hover{
			color: white;
		}
		.fa{
			margin-right: 10px;
		}
	}
	ul{
		a{
			padding: 0 20px;
			font-size: 1.1em;
			text-decoration: none;
			&:hover{
				color: white;
				text-decoration: none;
			}
		}
	}
	form{
		display: inline-block;
		.search-box{
			background-image: url('/assets/searchicon.png');
			background-repeat: no-repeat;
			background-position: 8px 3px;
			border: 1px solid white;
			border-radius: 5px;
			background-color: white;
			padding: 2px 8px 2px 35px;
			width: 140px;
			margin-left: 530px;
			height: 25px;
			color: black;
			font-size: 1.1em;
			transition: width .4s ease-in-out;
			&:focus{
				width: 230px;
			}
		}
	}
	input[type=text]:focus:not([readonly]){
		border-bottom: none;
		border: 1px solid white;
		box-shadow: none;
	}
	.glyphicon{
		font-size: 1.2em;
	}
	.dropdown-menu{
		left: -55px;
		width: 100px;
		min-width: 80px;
		li{
			width: 100%;
		}
	}
	.notifi-dropdown{
		min-width: 430px;
		left: -280px;
		padding: 0;
		li{
			a{
				padding: 0;
				display: flex;
				align-items: center;
				width: 100%;
				word-wrap: break-word;
				img{
					width: 55px;
					height: 55px;
					margin-right: 8px;
				}
				.notifi-content{
					word-wrap: break-word;
					width: calc(100% - 185px);
					white-space: normal;
				}
				.notifi-time{
					color: #999999;
					width: 140px;
					text-align: right;
				}
				&:hover{
					background-color: transparent;
				}
			}
			line-height: 1;
			color: black;
			display: inline-block;
			padding: 15px 15px;
			border: 1px solid #f1f1f1;
			border-left: none;
			border-right: none;
			&:hover{
				background-color: #f5f5f5;
				transition: background-color .3s ease;
			}
		}
		li.unread{
			background-color: #e7ecf5;
		}
	}
}

body{
	background-color: #f9f9f9;
	position: relative;
}

footer.page-footer{
	color: white;
	background-color: $strongGreen;
	.title{
		font-weight: bold;
		font-size: 1.5em;
	}
	.fa{
		margin-right: 10px;
	}
}

*:focus {
	outline: none;
}

#login-box {
	position: relative;
	margin: 40px auto 5% auto;
	width: 650px;
	height: 500px;
	background: #ffffff;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.left-block {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 35px;
	width: 325px;
	height: 500px;
	.error-messages{
		color: red;
	}
	.field_with_errors{
		.form-control{
			color: red;
		}
	}
	h1{
		margin-top: 0;
		margin-bottom: 12px;
	}
	input[type="text"],
	input[type="email"],
	input[type="password"] {
		display: block;
		box-sizing: border-box;
		margin-bottom: 25px;
		padding: 4px;
		width: 230px;
		height: 32px;
		border: none;
		border-bottom: 1px solid #aaaaaa;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 1.1em;
		transition: 0.2s ease;
		&:focus {
			border-bottom: 2px solid #16a085;
			color: #16a085;
			transition: 0.2s ease;
		}
	}
	input[type="submit"] {
		width: 140px;
		height: 35px;
		padding: 8px 15px 10px 15px;
		background: #16a085;
		border: none;
		border-radius: 2px;
		color: #ffffff;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		text-transform: uppercase;
		transition: 0.1s ease;
		cursor: pointer;
		&:hover, &:focus {
			opacity: 0.8;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
			transition: 0.1s ease;
		}
		&:active {
			opacity: 1;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
			transition: 0.1s ease;
		}
	}
	#user_password_confirmation{
		margin-bottom: 20px;
	}
	[type="radio"]:not(:checked) + label, [type="radio"]:checked + label{
		padding-left: 25px;
		margin-right: 20px;
		font-size: 1em;
		margin-bottom: 10px;
	}
	label{
		font-size: 1em;
		margin-bottom: 15px;
	}
}

.right-block {
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	padding: 30px 35px;
	width: 325px;
	height: 500px;
	background: url('nobita.jpg');
	background-size: cover;
	background-position: center;
	border-radius: 0 2px 2px 0;
}

.or {
	position: absolute;
	top: 180px;
	left: 305px;
	width: 40px;
	height: 40px;
	background: #dddddd;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	line-height: 40px;
	text-align: center;
}

/* ==========================================================================
   Helper class
   ========================================================================== */

[class|=space] {
    display: block;
    width: 100%;
    overflow: hidden;
    z-index: -2999;
}

.space-5 {
    height: 5px;
}

.space-10 {
    height: 10px;
}

.space-15 {
    height: 15px;
}

.space-20 {
    height: 20px;
}

.space-25 {
    height: 25px;
}

.space-30 {
    height: 30px;
}

.space-35 {
    height: 35px;
}

.space-40 {
    height: 40px;
}

.space-45 {
    height: 45px;
}

.space-50 {
    height: 50px;
}

.space-55 {
    height: 55px;
}

.space-60 {
    height: 60px;
}

.space-65 {
    height: 65px;
}

.space-70 {
    height: 70px;
}

.space-75 {
    height: 75px;
}

.space-80 {
    height: 80px;
}

.space-85 {
    height: 85px;
}

.space-90 {
    height: 90px;
}

.space-95 {
    height: 95px;
}

.space-100 {
    height: 100px;
}

.padding60 {
    padding: 60px;
}

.fix {
    overflow: hidden;
}

.text-white {
    color: #ffffff !important;
}

.text-white a {
    color: #ffffff;
}

.text-yellow {
    color: #fec826;
}

.relative {
    position: relative;
}

.overlay-bg,
.header-bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: -3;
}

.overlay-bg img {
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.header-bg::after,
.overlay-bg::after {
    background-color: #222222;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.overlay-bg.blue:after {
    background-color: #33CC33;
}

.home-slide .item img,
.home-slide .item {
    min-width: 100%;
    min-height: 100%;
}

.home-slide .item img {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.btn-style-none {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    margin: 4px 0 3px;
    padding: 10px;
}

.nav.navbar-nav.nav-white li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #ffffff;
    padding: 20px;
}


/*Title-bar-shape*/

.title-bar {
    background-color: #c9c9c9;
    height: 1px;
    margin: 10px auto;
    max-width: 100%;
    position: relative;
    width: 300px;
    color: #c9c9c9;
}

.title-bar ul {
    left: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.title-bar ul li {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 14px;
    padding: 2px;
}

.title-bar.white {
    color: #ffffff;
    background-color: #ffffff;
}

.title-bar.blue {
    color: #2352c5;
    background-color: #2352c5;
}

.title-bar.left {
    margin: 10px 0;
    text-align: left;
}

.active-user {
    height: 60px;
    margin-right: 40px;
    position: relative;
    width: 60px;
}

.active-user::before {
    background-color: #dddddd;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #ffffff;
    content: "";
    height: 10px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 10px;
}

.active-user.active::before {
    background-color: #fec826;
}

.mainmenu-area {
    padding: 20px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.mainmenu-area.affix {
    padding: 0;
    background: rgba(0, 0, 0, 0.8);
}

#mainmenu li a {
    position: relative;
}

#mainmenu li.active a {
    color: #fec826;
}

#mainmenu li a::after {
    bottom: 0;
    content: "\f0e2";
    font-size: 10px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
}

#mainmenu li a:hover::after,
#mainmenu li.active a::after {
    opacity: 1;
}

.gray-bg {
    background-color: #f5f5f5;
}

.icon-bar li {
    color: #2352c5;
    display: inline;
    font-size: 26px;
}

.icon-bar li::after {
    background-color: #2352c5;
    content: "";
    display: inline-block;
    height: 1px;
    margin: 6px 0 6px 6px;
    width: 100px;
}

.category_icon {
    background-color: #ddd;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    height: 80px;
    margin: 20px auto;
    position: relative;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 80px;
}

.category_icon i.icofont {
    bottom: 0;
    height: 20px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 20px;
}

.category-item.well {
    background-color: #ffffff;
    padding: 30px 8px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border: 2px solid #d6d6d6;
}

.category-item.well:hover {
    box-shadow: 0 10px 40px -11px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.category-item.blue:hover {
    border-color: #2352c5;
}

.category-item.red:hover {
    border-color: #d9346a;
}

.category-item.yellow:hover {
    border-color: #fec826;
}

.category-item.green:hover {
    border-color: #4bbd49;
}

.category-item a {
    border-radius: 2px;
    display: inline-block;
    margin: auto;
    min-width: 150px;
    padding: 0.6em 1em;
}

.category-item a:hover {
    background-color: #dddddd;
}

.category-item.blue .category_icon {
    background-color: #2352c5;
}

.category-item.blue a:hover {
    background-color: #2352c5;
    color: #ffffff;
}

.category-item.red .category_icon {
    background-color: #d9346a;
}

.category-item.red a:hover {
    background-color: #d9346a;
    color: #ffffff;
}

.category-item.yellow .category_icon {
    background-color: #32b73b;
}

.category-item.yellow a:hover {
    background-color: #32b73b;
    color: #ffffff;
}

.category-item.green .category_icon {
    background-color: #4bbd49;
}

.category-item.green a:hover {
    background-color: #4bbd49;
    color: #ffffff;
}

.book-list .owl-item {
    opacity: 0.3;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    padding: 30px 0;
}

.book-list .owl-item.center {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.paice {
    opacity: 1;
}

.book-list-position {
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tip li {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
}

.rating-star li {
    color: #c9c9c9;
    font-size: 20px;
    padding: 0;
}

.rating-star li.active {
    color: #d7870a;
}

.bookslide_nav .testi_prev,
.bookslide_nav .testi_next {
    border-radius: 50%;
    bottom: -40px;
    color: black;
    font-size: 20px;
    height: 40px;
    left: 46%;
    line-height: 2;
    position: absolute;
    text-align: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 40px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.bookslide_nav .testi_next {
    left: 54%;
}

.bookslide_nav .testi_next:hover,
.bookslide_nav .testi_prev:hover {
    background-color: #fec826;
}

.book-details-item {
    padding: 0 0 0 35px;
}

.author-photo {
    background-color: #fec826;
    border: medium none;
    max-width: 80px !important;
    width: auto !important;
}

.team_overlay_icon {
    height: 100%;
    opacity: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.team_overlay_icon::after {
    background-color: #fec826;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.single-team {
    margin: 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    box-shadow: 0 0 0 0 #dddddd;
    padding: 30px 20px;
}

.single-team:hover {
    box-shadow: 0 0 11px -2px #dddddd;
}

.single-team:hover .team_overlay_icon {
    opacity: 1;
}

.outer-image {
    bottom: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.outer-image img {
    width: 300px;
}

.inner-photo {
    bottom: 0;
    position: absolute;
    text-align: right;
}

.inner-photo img {
    width: 300px;
}

.black-bg {
    background-color: #242424;
}

.addr-dt i {
    font-size: 20px;
}

.menu-tip li {
    margin: 0 0 15px 0;
}

.menu-tip li a::before {
    content: "\f0e2";
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    -webkit-transform: rotate(0deg) translateY(-3px);
    transform: rotate(0deg) translateY(-3px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.menu-tip li a:hover {
    color: #fec826;
    padding-left: 5px
}

.menu-tip li a:hover:before {
    -webkit-transform: rotate(-45deg) translateY(-3px);
    transform: rotate(-45deg) translateY(-3px)
}

.my-slider img {
    width: 100%;
}

.my-slider li {
    overflow: hidden;
}

.owl-item img {
    width: auto !important;
    margin: auto;
    max-width: 100%;
}

.testimonial-slide .owl-prev,
.testimonial-slide .owl-next {
    border-radius: 50%;
    font-size: 26px;
    height: 40px;
    left: 0;
    line-height: 1.5;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40px;
    -webkit-transition: 0.3s;
    transition: 0.3s
}

.testimonial-slide .owl-next {
    left: auto;
    right: 0;
}

.testimonial-slide .owl-prev:hover,
.testimonial-slide .owl-next:hover {
    background-color: #fec826;
}

.testimonial-slide .owl-dots {
    bottom: -60px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.testimonial-slide .owl-dot {
    background-color: #2352c5;
    border: 2px solid #2352c5;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    margin: 5px;
    width: 15px;
}

.testimonial-slide .owl-dot.active {
    background-color: #fec826;
}

.testimonial-slide img {
    max-width: 100px;
}

.rslides_tabs {
    bottom: 20px;
    left: 50%;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.rslides_tabs li {
    display: inline-block;
}

.rslides_tabs li a {
    background-color: #2352c5;
    border: 2px solid #2352c5;
    border-radius: 50%;
    display: block;
    height: 13px;
    margin: 5px;
    width: 13px;
    text-indent: -9999px;
    overflow: hidden;
}

.rslides_tabs li.rslides_here a {
    background-color: #fec826;
}

#scrollUp {
    background-color: #2352c5;
    border-radius: 2px;
    bottom: 30px;
    color: #fff;
    font-size: 18px;
    height: 40px;
    line-height: 2.2;
    right: 30px;
    text-align: center;
    width: 40px;
}

#scrollUp:hover {
    background-color: #1b3e98;
}

.social-list a i {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #c9c9c9;
    min-width: 2px;
    min-height: 20px;
    text-align: center;
    font-size: 16px;
}

.social-list a i.icofont-social-facebook:hover {
    color: #2E4DA7;
}

.social-list a i.icofont-social-twitter:hover {
    color: #54ABEE;
}

.social-list a i.icofont-social-behance:hover {
    color: #005CFF;
}

.social-list a i.icofont-brand-linkedin:hover {
    color: #007BB6;
}

.team-member-photo img {
    width: 100% !important;
}

.active-user-notification {
    display: inline-block;
    min-width: 13px;
    padding: 4px 5px;
    font-size: 17px;
    top: -9px;
    right: 1px;
    position: absolute;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #f40303;
    border-radius: 4px;
}

.active-notification {
    display: inline-block;
    min-width: 13px;
    padding: 4px 7px;
    font-size: 17px;
    top: 52px;
    right: 10px;
    position: absolute;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #f40303;
    border-radius: 19px;
}

.badge-notify {
    background: red;
    position: absolute;
    top: 7px;
}

.img-owner-detail {
    width: 50px !important;
    height: 50px;
}

.avatar {
    display: inline-block;
    border-radius: 50% !important;
    height: 70px;
    width: 70px;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.book-list .owl-item {
    opacity: 0.3;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    padding: 30px 0;
}

.book-list .owl-item.center {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.book-list-position {
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cardslider {
        height: 318px;
    }
    .book-list-position {
        position: static;
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    .home-slide .owl-item img {
        height: 100%;
        max-width: inherit;
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .cardslider {
        height: 344px;
    }
    .mainmenu-area {
        background: rgba(0, 0, 0, 0.8);
    }
    .navbar-toggle {
        border: 1px solid #ffffff;
        border-radius: 0;
        margin: 4px 70px 0 0;
    }
    .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
    .active-user {
        margin: 0;
        position: absolute;
        right: 0;
        top: 5px;
    }
    #mainmenu {
        text-align: center;
    }
    .book-list-position {
        position: static;
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    .padding60 {
        padding: 20px;
    }
    .home-slide .item img {
        width: auto;
        min-width: 100%;
    }
    .media-body,
    .media-left,
    .media-right {
        display: block;
    }
    .media-body {
        width: auto;
    }
}
