+<!DOCTYPE html>
 +<html>
 +  <head>
 +      <title>Food Review</title>
 +      <%= render "layouts/rails_default" %>
 +      <%= render "layouts/shim" %>
 +  </head>
 +
 +  <body>
 +      <%= yield %>
 +  </body>
 +</html
